body {
    background-image: url(背景.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
          }          
   * {
       margin: 0px;
       padding: 0px;
       list-style: none;
      }    
    body {
        background-color: #4B7C99;
            }
              
   nav {
   background-color: #CCD0D9;
   width: 100%;
   height: 60px;
   }
                   
   nav a {
   text-decoration: none;
   line-height: 60px;
   margin-left: 50px;
   margin-right: 50px;
   color: #020C16;
   font-weight: bold;
   text-align:center;
   padding: 20px 30px;
   }
                   
   nav a:hover {
   color: #1a9be6;
   background-color: #383978;
   }
*{
    margin: 0;
    padding: 0;
}
.swiper{
    height: 780xp;
    width: 600xp;
    border: 2px solid black;
    text-align:center;
    font-size:20px;
    font-weight: 400;
    color:rgb(229, 17, 21);
    }
.swiper img{
        height: 100%;
        width: 100%;
    }
